doctype html
html
  head
    title Sportify
    link(rel="stylesheet", href="/styles.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
  body
    header
      h1 Sportify
      nav
        a(href="/home") Home
        a(href="/shop") Shop
        a(href="/profile") Profile
        a(href="/about") About
        if !user
          a(href="/login") Login
        else
          a(href="/logout") Logout
        <input type="text" placeholder="Search..." class="search-bar">

        //takes straight to /cart page instead
        .cart-dropdown
          a(href="/cart")
            i.fas.fa-shopping-cart
            |  Cart

          //older cart dropdown
          //a#cartToggle(href="#")
            i.fas.fa-shopping-cart
            |  Cart
          //.cart-menu.hidden(id="cartMenu")
            ul#cartItems
              li No items in cart
            p.cart-total Total: $<span id="cartTotal">0.00</span>
    block content

    script(src="/cart.js")